body {
	background-color: #DEF2E6;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #404040;
	margin: 0px;
}

h4 {
	margin: 0px;
}

h2 {
	padding: 0% 2%;
}

.container {
	width: 76%;
	margin: 0 12%;
}

#header {
	background-color: #58AD84;
	-moz-box-shadow:    0px 0px 7px 0px #404040;
  	-webkit-box-shadow: 0px 0px 7px 0px #404040;
  	box-shadow:         0px 0px 7px 0px #404040;
}

#header > h1 {
	margin: 0px;
	text-align: center;
	color: #9F3E00;
}

#icon {
	height: 25px;
}

.sidebar {
	float: left;
	width: 30%;
	margin: 5% 1% 1% 1%;
}

#tweets {
	float: right;
	width: 60%;
	background-color: #FFF;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 6% 1% 3% 1%;
}

#tweet-container {
	padding: 1%;
}

#handle {
	font-size: 16px;
	color: #9F3E00;
	width: 20%;
	margin: 0px;
	text-decoration: none;
}

#time {
	font-size: 12px;
	float: right;
	width: 20%;
	margin: 0px;
}

#text {
	margin: 0px;
	padding: 1%;
}

#tweets > h2 {
	float: left;
	width: 30%;
	color: #9F3E00;
}

#new-tweets {
	width: 100%;
	background-color: #58AD84;
	border: none;
	height: 40px;
	font-size: 16px;
	color: #404040;
	font-weight: bold;
	margin: 5% 0%;
	-moz-box-shadow:    0px 0px 1px 0px #404040;
  	-webkit-box-shadow: 0px 0px 1px 0px #404040;
  	box-shadow:         0px 0px 1px 0px #404040;
}

#back-home {
	float: right;
	width: 30%;
	background-color: #DEF2E6;
	border: none;
	height: 20px;
	font-size: 12px;
	color: #404040;
	margin: 5%;
}

#new-tweets:hover {
	background-color: #78D1A6;
}

#back-home:hover {
	background-color: #78D1A6;
}

#controls {
	width: 87%;
	background-color: #FFF;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 3%;
	padding: 3%;
	color: #9F3E00;
}

#tweet-form {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#tweet-button {
	float: right;
	width: 30%;
	background-color: #9F3E00;
	border: none;
	height: 20px;
	font-size: 12px;
	color: #FFF;
	margin: 2%;
}

#user {
	width: 87%;
	background-color: #404040;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 3%;
	padding: 3%;
	color: #FFF;
}

#user > h3 {
	text-align: center;
}

#user-pic {
	width: 20%;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 2% 37%;
	border: 4px #FFFFFF solid;
}

#user > span {
	border-right: 1px #EAFBF2 solid; 
	padding: 0% 2%;
}

@media (max-width: 700px) {

	.sidebar {
		width: 100%;
		margin: 0%;
		float: none;
	}

	#user {
		width: 90%;
		margin: 6% 2% 2% 2%;
		float: none;
	}

	#controls {
		width: 90%;
		margin: 6% 2% 2% 2%;
		float: none;
	}



	#tweets {
		width: 96%;
		margin: 2% 2% 6% 2%;
		float: none;
	}

}